# ===================================================================
# tpDcc-libs-curves requirements file
# ===================================================================
tpDcc-libs-python
tpDcc-core